<app-header (searchQ)="searchAPI($event)"></app-header>
<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="side-bar">
    <app-filter [apis]="apis$ | async" (categorySelected)="filterCategory($event)" (protocolSelected)="filterProtocol($event)"></app-filter>
  </mat-drawer>
  <mat-drawer-content>
    <app-loader *ngIf="load$ | async" ></app-loader>
    <app-content *ngIf="!(load$ | async)" [apis]="apis$ | async" [filterByCategory]="filterByCategory" [filterByProtocol]="filterByProtocol"></app-content>
  </mat-drawer-content>
</mat-drawer-container>
